.sdv-article-card {
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  color: #fff;

  .sdv-dark-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2));
    z-index: 1;
    pointer-events: none;
  }

  .sdv-article-card-layer-2 {
    position: relative;
    z-index: 2;
  }

  .sdv-movie-rating {
    color: #eccd2c;
  }
}
.uk-button{
  background-color: #df9548;
}
